/* Variaveis Color Light */
:root, :root[data-theme='light'] {
  --primary-color: #fff;
  --body-bg-color: #FDFDF7 ;
  --primary-bg-color: #001B35;
  --secondary-bg-color: #02203C; 
  --bg-color-container: #e4e2dd ;
  --drop-shadow: #f7f5f1;
  --primary-border-color: #DDA836;
  --secondary-border-color:#FDE18D;


  --title-color: #AF6306 ;
  --text-color-deafult:#000 ;
  --text-color:#DDA836 ;
  --text-table: #02203C ;
  --number-color: #02203C ;
  --shadow-color: #000 ;
  --alert-color: #EC1B23 ;
}
/* Variaveis Color Dark */
:root, :root[data-theme='dark'] {
  --body-bg-color: #121212; /* Fundo principal */
  --primary-bg-color: #161616;
  --secondary-bg-color: #2C2C2C;
  --bg-color-container: #1E1E1E;
  --drop-shadow: #f8f8f8;
  --primary-border-color: #5f5f5f; 
  --secondary-border-color: #e7e6e6;

  --title-color: #E0E0E0;
  --text-color-deafult: #E0E0E0;
  --text-color: #ffffff;
  --text-table: #02203C ;
  --number-color: #d1cdcd ;
  --shadow-color: #f3f0f0;
  --alert-color: #EC1B23; /* Vermelho do alerta */
}
/* Mundaças especificas no modo Dark */
html[data-theme='dark'] .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23D3D3D3' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
html[data-theme='dark'] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23D3D3D3' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
/* Navbar */
.bg-header{
  background: var(--primary-bg-color);
}
.navbar {
  box-shadow: 0 4px 6px var(--primary-border-color);
}
.navbar-brand {
  letter-spacing: .4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
  filter: drop-shadow(0 0 0.75rem var(--drop-shadow));
}
.header-toggle {
  display: flex;
  justify-content: flex-start;
}
#toggleTheme {
  font-size: 1.5rem;
  color: var(--drop-shadow);
  cursor: pointer;
  transition: ease-in-out .5s;
}
/* Navbar toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FDE18D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FDE18D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
/* Offcanvas */
.offcanvas-header{
  background: var(--primary-bg-color);
}
.offcanvas-body{
  background: var(--secondary-bg-color);
}
.offcanvas-title{
  color: var(--drop-shadow) !important;
}
/* Navegation Navbar */
.navbar-nav{
  margin-top: 6rem;
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}
.nav-item {
  margin-top: 0.625rem;
  padding: 5px;
}
.nav-link {
  filter: drop-shadow(0 0 0.75rem var(--primary-border-color));
  color: var(--primary-border-color) !important;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: var(--secondary-border-color) !important; /* Cor ao passar o mouse */
  transition: 0.5s ease-in-out;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 5px;
  background-color: var(--secondary-border-color); 
  transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
/* Conteúdo Visivel/Invisivel */
.content-section {
  display: none;
}
.content-section.active {
  display: block;
}
/* Body */
body {
  background: var(--body-bg-color)!important;
}
.bg-container {
  background: var(--bg-color-container) !important;
  border-radius: 10px;
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25) ;
  padding: 5px;
}
.title{
  color: var(--title-color);
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub-title {
  color: var(--primary-border-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-animation-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: var(--primary-bg-color);
  animation: line 3s linear infinite;
}
@keyframes line {
  0% {
    background-color: var(--secondary-border-color);
  }
  50% {
    background-color: var(--secondary-bg-color);
  }
  100% {
    background-color: var(--secondary-border-color);
  }
}
.text-color {
  color: var(--text-color-deafult);
}
.text-number {
  color: var(--primary-border-color);
}
/* Label Custom */
.label-text {
  color: var(--text-color);
  font-weight: 600;
}
.label-custom {
  font-size: 1.25rem;
  text-align: center;
  display: flex;
}
/* Input Custom */
input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="password"], 
input[type="tel"] {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Select Custom */
select {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Table */
.table--custom {
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.table-dark {
  border-radius: 8px 8px 0 0;
}
th {
  background: var(--primary-bg-color) !important;
  color: var(--text-color) !important;
  text-transform: uppercase;
  padding: 10px !important; 
}
th:first-child {
  border-top-left-radius: 8px !important; 
}
th:last-child {
  border-top-right-radius: 8px !important;
}
td, th {
  padding: 12px 15px; 
  vertical-align: middle; 
  text-align: center !important;
}
td input[type="number"] {
  width: 90px;
  text-align: center; 
  border: 1px solid var(--primary-border-color);
}
.text-table {
  color: var(--text-color);
  font-weight: 525;
  text-transform: uppercase ;
 }
#tabelaVenda {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#tabelaListagemFuncionarios {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Estilo geral do botão */
.custom-btn-fluid {
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  margin: 15px auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s;
}
.custom-btn-fluid:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
/* Botão "Limpar" personalizado */
.custom-btn-danger {
  background: #e74c3c;
  color: #fff;
  text-align: center;
  width: auto; /* Ajustável */
  border-radius: 5px;
}
.custom-btn-danger:hover {
  background: #c0392b;
}
.custom-btn-danger:active {
  background: #c0392b;
  top: 2px;
}
/* Botão Registrar e Cadastrar  */
.custom-btn-success {
  background: #2ecc71;
  color: #fff;
  text-align: center;
  width: auto; /* Ajustável */
  border-radius: 5px;
}
.custom-btn-success:hover {
  background: #27ae60;
}
.custom-btn-success:active {
  background: #27ae60;
  top: 2px;
}
/* Botão Alterar e Trocar */
.custom-btn-warning {
  background: #ffc107;
  color: #fff;
  text-align: center;
  width: auto; /* Ajustável */
  border-radius: 5px;
}
.custom-btn-warning:hover {
  background: #e7af06;
}
.custom-btn-warning:active {
  background: #e7af06;
  top: 2px;
}
/* Botão Organizar */
.custom-btn-primary{
  background: #0d6efd;
  color: #fff;
  text-align: center;
  width: auto; /* Ajustável */
  border-radius: 5px;
}
.custom-btn-primary:hover {
  background: #0056b3;
}
.custom-btn-primary:active {
  background: #0056b3;
  top: 2px;
}
/* Estilo do ícone red */
.icon-red {
  background: #f55240;
  font-family: 'Bootstrap Icons', sans-serif;
  content: '\f116'; /* Código para o ícone de "lixeira" */
  position: absolute;
  height: 100%;
  left:0;
  top: 0;
  line-height: 2.5; /* Alinha o ícone verticalmente */
  font-size: 140%;
  width: 80px;
  text-align: center;
  color: #eeecec; /* Cor um pouco mais escura que o botão */
}
/* Estilo do ícone green */
.icon-green {
  background: #2bbe69;
  font-family: 'Bootstrap Icons', sans-serif;
  content: '\f116'; /* Código para o ícone de "lixeira" */
  position: absolute;
  height: 100%;
  left:0;
  top: 0;
  line-height: 2.5; /* Alinha o ícone verticalmente */
  font-size: 140%;
  width: 80px;
  text-align: center;
  color: #eeecec; /* Cor um pouco mais escura que o botão */
}
/* Estilo do ícone yellow */
.icon-yellow {
  background: #fcca35;
  font-family: 'Bootstrap Icons', sans-serif;
  position: absolute;
  height: 100%;
  left:0;
  top: 0;
  line-height: 2.5; /* Alinha o ícone verticalmente */
  font-size: 140%;
  width: 80px;
  text-align: center;
  color: #eeecec; /* Cor um pouco mais escura que o botão */
}
/* Estilo do ícone blue */
.icon-blue {
  background: #1766b6;
  font-family: 'Bootstrap Icons', sans-serif;
  position: absolute;
  height: 100%;
  left:0;
  top: 0;
  line-height: 2.5; /* Alinha o ícone verticalmente */
  font-size: 140%;
  width: 80px;
  text-align: center;
  color: #eeecec; /* Cor um pouco mais escura que o botão */
}
/* Adiciona espaçamento no texto para o ícone */
.custom-btn-danger .icon-red + span {
  padding-left: 40px;
}
.custom-btn-success .icon-green + span {
  padding-left: 40px;
}
.custom-btn-warning .icon-yellow + span {
  padding-left: 40px;
}
.custom-btn-primary .icon-blue + span {
  padding-left: 40px;
}
/* Estilização para o ícone amarelo */
.icon-yellow-table {
  font-size: 1.5rem;
  color: #ffc107 !important;
  font-weight: normal; /* Padrão */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  background: var(--bg-color-container) !important;
}

/* Estilização para o ícone vermelho */
.icon-red-table {
  font-size: 1.5rem;
  color: #dc3545 !important;
  font-weight: normal; /* Padrão */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  background: var(--bg-color-container) !important;
}
/* Estilização para o ícone verde */
.icon-green-table {
  font-size: 1.5rem;
  color: #2bbe69 !important;
  font-weight: normal; /* Padrão */
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  background: var(--bg-color-container) !important;
}

/* Efeito ao passar o mouse */
.icon-yellow-table:hover {
  transform: scale(1.2);
  color: #ffd700 !important; /* Amarelo mais claro */
  font-weight: bold; /* Mais grosso */
  text-shadow: 0 0 5px yellow !important; /* Sombra preta no modo claro */
}

.icon-red-table:hover {
  transform: scale(1.2);
  color: #ff6666 !important; /* Vermelho mais claro */
  font-weight: bold; /* Mais grosso */
  text-shadow: 0 0 5px red !important; /* Sombra preta no modo claro */
}

.icon-red-table:hover {
  transform: scale(1.2);
  color: #4caf50 !important; /* Verde mais claro */
  font-weight: bold; /* Mais grosso */
  text-shadow: 0 0 5px green !important; /* Sombra preta no modo claro */
}
/* Botão Alterar */
button.btn-alterar {
  padding: 10px 20px;
  background-color: #ffc107 !important;
  color: #212529;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 180px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
button.btn-alterar:hover {
  background-color: #e0a800;
  color: white; 
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
button.btn-alterar:active {
  transform: scale(0.95);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}
/* Botão Demitir */
button.btn-demitir {
  background-color: #dc3545 !important;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  width: 180px;
  border-radius: 4px;
  border: none !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
button.btn-demitir:hover {
  background-color: #c82333;
  transform: scale(1.05);
  color: white ;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
button.btn-demitir:active {
  transform: scale(0.95);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}
#searchInput {
  width: 100%; 
  padding: 10px;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 8px; 
  font-size: 18px; 
  color: #333; 
  background-color: var(--primary-color);
  transition: transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Transições suaves */
}
.btn-ajustado {
  font-size: 12px;
  padding: 15px 40px;
  display: flex;
  align-items: end;
  justify-content: end;
}
/* Efeito ao focar no campo */
#searchInput:focus {
  border-color: var(--primary-border-color); /* Borda azul mais escura */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none; /* Remove o contorno padrão */
  transform: scale(1.01); /* Aumenta ligeiramente o tamanho */
}
/* Placeholder estilizado */
#searchInput::placeholder {
  color: #aaa; /* Cor do texto placeholder */
  font-style: italic; /* Texto em itálico */
}
.card {
  width: 100%;       
  max-width: 600px;  
}
/* Rodapé */
footer {
  color: var(--text-color-deafult);
  padding: 0; 
  background-color: var(--bg-color-container);
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50px;
  border-top: 1px solid var(--secondary-border-color);
}
footer p {
  margin: 0;
}
 
@media (prefers-color-scheme: dark) {
  .icon-yellow-table:hover {
    text-shadow: 0 0 5px yellow !important;
  }

  .icon-red-table:hover {
    text-shadow: 0 0 5px red !important; 
}
.icon-green-table:hover {
  text-shadow: 0 0 5px green !important; 
}
}